* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(21, 183, 204);
}

.info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    height: 400px;
    background-color: rgb(240, 245, 255);
    background: white;
}

.info-box .info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightblue;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info-box .info-list {
    padding: 25px 35px;
}

.info-box .info-list .info {
    margin: 5px 0;
    font-size: 18px;
}

.info-box .info-list .info span {
    font-weight: 600;
    color: blue;
}

.info-box .buttons {
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

.info-box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid #007bff;
    background: #007bff;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

a {
    text-decoration: none;
}